.chakra-ui-light .navbar a{
    color: #333;
}
.chakra-ui-light .navbar button{
    background: #55c9c7;
    color: #fff;
}
.chakra-ui-light .mainMenu{
    background: #fff;
}
.chakra-ui-dark .mainMenu{
    background: #1A202C;
}
.chakra-ui-light .menuBar svg,
.chakra-ui-light .menuClose svg path{
    fill: #6c6c6c;
}

.navbar {
    border-bottom: 1px solid #707070;
}